# Nuxt / Nitro build output
.nuxt
.output
.netlify
.data
dist

# dependencies
node_modules

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
.fleet
.idea
*.pem

# local env files
.env
.env.*
!.env.example
